<html>
    <head>
        <style>
            .button-link {
              display: inline-block;
              background-color: #007bff;
              color: #fff;
              text-decoration: none;
              padding: 8px 16px;
              border-radius: 4px;
              font-size: 1rem;
              cursor: pointer;
            }
            
            .button-link:hover {
              background-color: #0062cc;
            }
          </style>
    </head>
    <body>
        <div style="margin-top: 20%;">
            <h1 style="text-align: center;">Google Drive API Task</h1>
            <div style="text-align: center;">
                <a href="<%=url%>" class="button-link">Login / Register</a>
            </div>
        </div>
    </body>
</html>